body{
    margin: 0px;
    padding: 0px;
    background-color: #ffc200;
}

#main{
    height: 100vh;
    width: 100%;
    position: fixed;
    display: none;
}

#logoSection{
    height: 100%;
    width: 50%;
    background-color: #fcfcfc;
    box-shadow: 10px 0px 30px rgba(0,0,0,.4);
    position: absolute;
    z-index: 999;
}

#logoSection img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#menuSection{
    height: 100%;
    width: 50%;
    background: #f1f1f1;
    position: absolute;
    left: 50%;
}

#menuSection ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30%;
    left: -1%;
}

#menuSection ul li{
    height: 100px;
    width: 350px;
    font-family: arial black;
    font-size: 60px;
    line-height: 100px;
    cursor: pointer;
}

.menu{
    height: 100px;
    width: 0px;
    background-color: #ffc200;
    display: flex;
    position: absolute;
    left: -50%;
    cursor: pointer;
    pointer-events: none;
    transition: all .5s;
}

.rotate{
    pointer-events: none;
}

#menuSection ul li:hover .menu{
    width: 350px;
}

#openMenu,
#closeMenu{
    height: 100px;
    width: 100px;
    background: #262626;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 999;
    cursor: pointer;
}

#openMenu img{
    position: relative;
    top: 26%;
    left: 17%;
}

#closeMenu{
    left: 100%;
}

#closeMenu img{
    position: relative;
    top: 25%;
    left: 25%;
}




